@import "@/styles/colors";

.main {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background-color: rgba($white, 0);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);

   .spinner {
      position: relative;
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .spinner::before,
   .spinner::after {
      border: 6.7px solid #474bff;
      border-radius: 50%;
      position: absolute;
      content: '';
      display: block;
   }

   .spinner::before {
      width: 33.6px;
      height: 33.6px;
      border-bottom-color: transparent;
      border-left-color: transparent;
      animation: spinner-1o3y8q 0.75s infinite linear reverse;
   }

   .spinner::after {
      animation: spinner-1o3y8q 0.5s infinite linear;
      height: 56px;
      width: 56px;
      border-right-color: transparent;
      border-top-color: transparent;
   }

   @keyframes spinner-1o3y8q {
      to {
         transform: rotate(360deg);
      }
   }
}