@import '@/styles/colors';

button {
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  &.primary {
    background: linear-gradient(90deg, transparent, transparent) padding-box,
      linear-gradient(90deg, $primary, $secondary) border-box;
    color: $white;
  }

  &.secondary {
    background:
      linear-gradient(90deg, $black, $black) padding-box,
      linear-gradient(90deg, $primary, $secondary) border-box;
    color: $white;
  }

  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.2);
  }
}
